<ion-content padding class="main-bg">
  <div text-center margin-bottom class="login-title">
      <img margin class="logo" src="assets/img/logo.png">
      <h1 class="bold">Welcome back!!</h1>
  </div>
  <form [formGroup]="loginForm" >
    <ion-list>
      <ion-item no-padding class="transparent email">
        <!-- <ion-label> -->
          <!-- <ion-icon large class="text-yellow" name="ios-call"></ion-icon>
          Mobile No. -->
          <ion-select formControlName="dialcodecountry" >
            <ion-option *ngFor="let data of codemapdata" value={{data.dialCode}}  [selected]="data.dialCode=='+44'">{{data.emoji}}&nbsp;&nbsp;{{data.dialCode}}</ion-option>
          </ion-select>
        <!-- </ion-label> -->

        <ion-input type="number" placeholder="Phone Number" formControlName="email"></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let error of error_messages.email">
          <div class="error-message"
               *ngIf="loginForm.get('email').hasError(error.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>

      <div text-center class="signin-btn">
        <p full class="send_otp redius-10 no-shadow" (click)="sendOtp()">Send OTP</p>
      </div>
      <div text-center class="signin-btn">
        <p full class="send_otp redius-10 no-shadow" style="float: right;
        margin: 0 0 0 0;
        color: #f2b442;
        text-decoration: underline;" (click)="resendOtp()">Resend OTP</p>
      </div>

      <ion-item  no-padding class="transparent">
        <ion-label floating><ion-icon class="text-yellow" name="md-key"></ion-icon> OTP</ion-label>
        <ion-input type="Number" formControlName="otp"></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let error of error_messages.otp">
          <div class="error-message"
               *ngIf="loginForm.get('otp').hasError(error.type) && (loginForm.get('otp').dirty || loginForm.get('otp').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>

      <!-- <div text-right margin-top margin-bottom class="medium-text">
        <p (click)="Forgot_pass()">Forgot Password?</p>
      </div> -->
      <div text-center margin padding class="signin-btn">
        <button margin ion-button round class="yellow_btn" (click)="verifyOtp()">Submit</button>
      </div>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <div text-center padding-bottom class="Register_text">
    <p class="">Don't Have An Account? <span (click)="signUp()">Sign Up</span></p>
  </div>
</ion-footer>

