page-tabs {
    .top-tabs .tabbar {
        background: #C7970A;
        padding: 0px 10px;
    }
    .top-tabs .tab-button[aria-selected=true],
    .top-tabs .tab-button[aria-selected=true] .tab-button-icon {
        color: #fff;
        border-bottom: 3px solid #fff;
    }
    .top-tabs .tab-button,
    .top-tabs .tab-button .tab-button-icon {
        color: #000;
    }        
    .top-tabs .tab-button {
        min-height: 4rem;
    }
    .top-tabs.tabs .tabbar::after {
        background-image: none;
    }
} 
