page-forgot-password {
    .main-bg {
        background-image: url(../assets/img/Login_bg.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    img.logo {
        width: 60%;
    }     
    .main-bg .transparent .item-inner {
        border-bottom: 1px solid #000000;
    } 
    .signin-btn button{
        width: 60%;
    }   
    .text-yellow {
        font-size: 2rem;
        margin-right: 5px;
    }
    .item-input .label {
        color: #000;
        font-size: 1.4rem;
    }
    .top-header button {
        color: #000;
    }
    
}
