<ion-header class="top-header">
  <ion-navbar>
    <ion-buttons no-margin left class="drover_icn">
      <button  no-margin ion-button icon-only menuToggle>
        <ion-icon class="text-white" name="md-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Chat List</ion-title>
    <ion-buttons right class="notification_icn" (click)="notificaion()">
      <button ion-button icon-only light class="text-white">
        <img src="assets/img/notifications.png">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="bold big-text" text-center padding margin *ngIf="isListEmpty">Your chat list is empty</div>
  <div *ngIf="!isListEmpty">
    <div *ngFor="let user of allUsers" margin-top margin-bottom>
      <ion-item no-lines (click)="openChat(user)">
        <ion-avatar item-left>
          <img [src]="user.image && user.image !==''? user.image : 'assets/img/user-default.png'">
        </ion-avatar>
        <div item-start>
          <div class="medium-text">{{user.name}}</div>
          <div style="margin-top: 5px" class="text-grey small-text">{{user.last_message && user.last_message!==''?user.last_message:''}}</div>
        </div>
        <div class="smallest-text" item-right>{{util.timeSince(user.last_message_time)}}</div>
      </ion-item>
    </div>
  </div>
</ion-content>
