page-my-history {
    .driver_list .button {
        font-size: 1rem;
        font-weight: normal;
        text-transform: capitalize;
        padding: 10px 18px;
        margin: 0px 0px 0px 8px;
    }
    .Chatnow_btn {
        background: #0099FF;
    }
    .tracking_btn{
        background: #12A22A;
    }
    .driver_pic img{
        width: 65px;
    }
    .driver_list .item-block .item-inner {
        padding: 0px;
    }
    .driver_list h2 {
        font-size: 1.2rem;
        font-weight: 500;
        padding-top: 10px;
    }
    .driver_list span{
        font-size: 1rem;
    }
    .driver_list .item {
        min-height: inherit;
        padding-right: 10px;
        height: 18px;
    }
  .btn_box{
    margin-top: 5pt;
  }
    .driver_list .item.btn_box {
        min-height: inherit;
        padding-right: 0px;
        height: 24px;
        margin-bottom: 10px;
        line-height: 0px;
    }
    .driver_list .card .item span {
        font-size: 0.8rem;
        margin: 0px;
    }
    .history_list {
        border-bottom: 1px solid #ccc;
        padding: 6px 0px 3px;
    }
  .user-image{
    height: 35pt;
    width: 35pt;
    object-fit: cover;
    border-radius: 50%;
  }
}
